
#navbar-pinterest{
    display: flex;
    position: fixed;
    top: 0;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    background-color: white;
    align-items: center;
  }

.finder{
    flex: 1;
    border-style: solid;
    border-radius: 30px;
    border-color: rgb(150, 183, 226);
    border-width: thick;
    padding: 20px 10px;
    margin: 15px 0;
    outline: none;
    font-size: 20px;
  }
  
  .buscador{
    display: none;
  }
  
  @media (max-width: 630px) {
    .finder {
      display: none;
    }
    .buscador{
      display:block;
    }
  }
  
  .finder:focus{
    background: rgb(230, 230, 230);
  }
  
  .menu-item:hover{
    background: rgb(230, 230, 230);
  
  }
  
  .menu-item:active{
    background-color: rgb(27, 27, 27);
    color: white;
  }
  
  .menu-item{
    display: flex;
    border-radius: 30px;
    padding: 0 10px;
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    font-size: large;
    align-items: center;
  }
  
  .nav-texto{
    padding: 0 4px;
  }
  
  /* Estilos de logos*/
  .arrow{
    width: 15px;
    height: 55px;
  }
  
  .logo{
    width: 40px;
    height: 50px;
    align-items: center;
    padding-right: 10px;
  }
  
  .logo2{
    width: 30px;
    height: 40px;
    align-items: center;
  }
  
  .logo3{
    width: 34px;
    height: 34px;
    align-items: center;
  }

  .container
{
    height: 100vh;
    width: 100vw;
    margin-top: 10%;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "i1 i2 i3 i4 i5"
    "i1 i6 i7 i4 i8"
    "i9 i6 i7 i10 i11"
    "i9 i6 i12 i10 i11"
    "i9 i13 i12 i14 i11";
    row-gap: 60px;
    column-gap: 20px;
    justify-items: center;
    align-items: center;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    /* display: inline; */
    margin-top: 0;
    font-size: small;
    
}
p
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-bottom: 5px;
    font-size: smaller; 
}
img:hover{
    filter: opacity(0.4);
}

.item
{
    border: 5px solid grey;
    border-radius: 15px;
    
}
    
.item1
{
    grid-area: i1;
    row-gap: 20px;

}
.item2
{
    grid-area: i2;
}
.item3
{
    grid-area: i3;
}
.item4
{
    grid-area: i4;
}
.item5
{
    grid-area: i5;
}
.item6
{
    grid-area: i6;
}
.item7
{
    grid-area: i7;
}
.item8
{
    grid-area: i8;
}
.item9
{
    grid-area: i9;
}
.item10
{
    grid-area: i10;
}
.item11
{
    grid-area: i11;
}
.item12
{
    grid-area: i12;
}
.item13
{
    grid-area: i13;
}
.item14
{
    grid-area: i14;
}
/* .item15
{
    grid-area: i15; */
/* } */

a {
  text-decoration:none;
  color: black;
}

